h1{
	color: #86c232;
	text-align: center;
}
h2{
	color: #86c232;
	text-align: center;
}
h6{
	color: #6b6e70;
	text-align: center;
}
p{
	color:#f8f0e3;
	font-family:Arial;
	text-align: center;
}
ul{
	color:#f8f0e3;
	font-family:Arial;
	text-align: center;
	list-style-type: square;
}
body{
	background: #222629;
	text-align: center;
}
.shadow{
	text-shadow: 2px 2px #474b4f;
}

.bold{
	font-weight: bold;
	font-size: 100%;
}

.educationBox{
	flex-basis:33%;
}

.experienceBox{
	flex-basis:33%;
}

.skillsBox{
	flex-basis:33%;
}

.container2 div{
	border:5px #474b4f solid;
	padding: 5px;
	margin: 10px
}

.container1{
	border:5px #474b4f solid;
	padding: 5px;
}

@media(min-width: 768px){
	.container2{
		display:flex;
		justify-content:space-around;
	}
}
.container{
	padding: 15px;
}
.link{
	color: #61892f;
}
.row{
	padding:15px;
}
