h1{
	color:black;
	text-align: center;
}
h2{
	color:black;
	text-align: center;
}
p{
	color:white;
	font-family:Arial;
	text-align: center;
}
ul{
	color:white;
	font-family:Arial;
	text-align: center;
	list-style-type: square;
}
body{
	background:grey;
	text-align: center;
}
.shadow{
	text-shadow: 2px 2px green;
}

.bold{
	font-weight: bold;
	font-size: 100%;
}

.box1{
	flex-basis:33%;
}

.box2{
	flex-basis:33%;
}

.box3{
	flex-basis:33%;
}

.container2 div{
	border:5px #ccc solid;
	padding: 5px;
	margin: 20px;
}

.container1{
	border:5px #ccc solid;
	padding: 5px;

}

@media(min-width:760px){
	.container2{
		display:flex;
		justify-content:space-around;
	}
}
.container{
	padding: 30px;
	margin: 5px;
}
.link{
	color:green;
}
.row{

}
